<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tic Tac Toe</title>
    <link
      rel="icon"
      href="https://cdn-icons-png.flaticon.com/512/566/566294.png"
      sizes="32x32"
      type="image/png"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='Tik_Tak_Toe.css') }}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />
  </head>
  <body>
    <div id="root">
      <header class="header">
        <div class="header2">
          <div class="xo">
            <h1 id="x">X</h1>
            <h1 id="o">O</h1>
          </div>
          <div class="xturn"><h1>X TURN</h1></div>
          <div class="img">
            <button id="reset">
              <i class="fa-solid fa-rotate-right"></i>
            </button>
          </div>
        </div>
      </header>

      <div id="root2">
        <main class="grid-container">
          <div class="grid-item"><button class="box"></button></div>
          <div class="grid-item"><button class="box"></button></div>
          <div class="grid-item"><button class="box"></button></div>
          <div class="grid-item"><button class="box"></button></div>
          <div class="grid-item"><button class="box"></button></div>
          <div class="grid-item"><button class="box"></button></div>
          <div class="grid-item"><button class="box"></button></div>
          <div class="grid-item"><button class="box"></button></div>
          <div class="grid-item"><button class="box"></button></div>
        </main>
      </div>

      <footer id="footer">
        <div class="footer-item" id="player1">X(PLAYER1): 0</div>
        <div class="footer-item" id="TIES">TIES: 0</div>
        <div class="footer-item" id="player2">O(PLAYER2): 0</div>
      </footer>
    </div>

    <div id="window">
      <h3 id="YouWon">YOU WON!</h3>
      <h1 id="round"></h1>
      <div class="button-container">
        <button id="Quit">QUIT</button>
        <button id="NextRound">NEXT ROUND</button>
      </div>
    </div>

    <script src="{{ url_for('static', filename='Tik_Tak_Toe.js') }}"></script>
  </body>
</html>
